<h1>Fragen generieren</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="federalStates">Bundesland:</label>
    <select id="federalStates" formControlName="federalStates">
      <option *ngFor="let option of federalStates" [value]="option">
        {{ option }}
      </option>
    </select>
    <div
      *ngIf="
        myForm.get('federalStates').invalid &&
        (myForm.get('federalStates').dirty ||
          myForm.get('federalStates').touched)
      "
    >
      <div *ngIf="myForm.get('federalState').errors.required">
        Bundesland is required.
      </div>
    </div>
  </div>
  <div>
    <label for="schoolTypes">Schulart:</label>
    <select id="schoolTypes" formControlName="schoolTypes">
      <option *ngFor="let option of schoolTypes" [value]="option">
        {{ option }}
      </option>
    </select>
    <div
      *ngIf="
        myForm.get('schoolTypes').invalid &&
        (myForm.get('schoolTypes').dirty || myForm.get('schoolTypes').touched)
      "
    ></div>
  </div>
  <div>
    <label for="classLevels">Klasse:</label>
    <select id="classLevels" formControlName="classLevels">
      <option *ngFor="let option of classLevels" [value]="option">
        {{ option }}
      </option>
    </select>
    <div
      *ngIf="
        myForm.get('classLevels').invalid &&
        (myForm.get('classLevels').dirty || myForm.get('classLevels').touched)
      "
    ></div>
  </div>
  <div>
    <label for="topics">Thema:</label>
    <select id="topics" formControlName="topics">
      <option *ngFor="let option of topics" [value]="option">
        {{ option }}
      </option>
    </select>
    <div
      *ngIf="
        myForm.get('topics').invalid &&
        (myForm.get('topics').dirty || myForm.get('topics').touched)
      "
    ></div>
  </div>
  <button type="submit" [disabled]="myForm.invalid">Aufgabe erstellen</button>
</form>
<div class="question">
  <p>{{ question }}</p>
  <form [formGroup]="exercise" (ngSubmit)="checkAnswer()">
    <input type="number" formControlName="givenAnswer" />
    <button type="submit" [disabled]="exercise.invalid">Antwort prüfen</button>
  </form>
</div>

<hr />
<div>
  <app-select-topic
    (questionCreated)="onQuestionCreated($event)"
  ></app-select-topic>
</div>

<div>
  <app-question-card [question]="question"></app-question-card>
</div>

<app-answer (answerChecked)="onAnswerChecked($event)"></app-answer>

<div class="feedback">
  <p>{{ feedback }}</p>
</div>
